$navbar-default-bg: #03486d;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}

.input_checkbox input {
  width: auto !important;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }
    
.navbar-default .navbar-nav > li > a:hover {
   color: white; /*Change active text color here*/
   text-decoration: none;
}

.jumbotron h1,h2{
    color:black;
    text-align:center;
    margin-bottom:30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.jumbotron{
    background-image: asset-url('salmon1.jpg');
    background-size:cover;
    height:500px;
}
.row{
    position:relative;
    height:250px;
}

#logo {
    float:left;
    font-size: 1.7em;
    color:#fff;
    text-transform:uppercase;
    letter-spacing: -1px;
    font-weight:bold;
}

#logo:hover {
    color: #fff;
    text-decoration:none;
}

.btn-xlarge{
    background-color:#03486d;
}
.btn-xlarge:hover{
    color:#fff;
    text-decoration:none;
}

.well{
    margin-bottom:10px;
}

html,
body {
 height: 100%;
 position: relative;
}

.footer{
    background-color:#03486d;
    position:relative;
    height:80px;
    top:10px;
    bottom:0px;
    width:100%;
}
    
#footer p{
    color:#fff;
    margin-top:40px;
    text-align:center;
}

.description{
    margin-top:0;
    }
.colormatch a {
    color:#03486d;
}
.well a {
    color:#03486d;
}

.chef_info{
    margin-top:10px;
}

.recipe-actions {
    padding-top:5px;
    a{
        color:#fff;
    }
}

.listing{
    list-style:none;
    padding-left:0;
}
.chef-title{
    color:#03486d;
    font-weight:bold;
    font-size: 1.25em;
}


figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
/* Demo purposes only */
.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}
.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.mb10{ margin-bottom:10px}



/*TIP  Not to strech the card in smaller devices This is just optional class*/


@media only screen and (min-width:300px) and (max-width:600px) {

.content{max-width:300px; margin:0 auto;}

}

.card{

  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.card.hovercard {
  position: relative;
  width: 300px;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.card.hovercard img {
  width: 300px;
  height: 200px;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}