$navbar-default-bg: #03486d;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}
#truer{
    color:black;
}
.jumbotron{
    background-image: asset-url('salmon1.jpg');
    background-size:cover;
    height:500px;
}

#logo {
    float:left;
    font-size: 1.7em;
    color:fff;
    text-transform:uppercase;
    letter-spacing: -1px;
    font-weight:bold;
}

#logo:hover {
    color: #fff;
    text-decoration:none;
}